@charset "UTF-8";
/**
 * Base
 */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", helvetica, "Apple SD Gothic Neo", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

/**
 * Layout
 *
 * 모든 테마의 Layout 을 이것으로 통일한다.
 * 필요한 곳에 그냥 `.l-center` 를 사용하면 된다.
 * 특히, header, footer 에 사용하면 되고, 본문에도 이것을 사용한다.
 * 본문에 .l-center 를 하고, 본문에 들어가는 left, right 사이드 바는 .l-sidebar 로 한다.
 */
.l-center {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1100px;
}

.l-content {
  display: flex;
}
.l-content .l-sidebar {
  width: 260px;
}
.l-content .l-sidebar:after {
  content: "";
  display: block;
  width: 260px;
}
.l-content .l-body {
  margin-left: 16px;
  flex-grow: 1;
  overflow: hidden;
}
.l-content .l-body-middle {
  padding-left: 16px;
  padding-right: 16px;
  flex-grow: 1;
  overflow: hidden;
}

/**
 * Utilities
 */
.fs-xxs {
  font-size: 10px !important;
}

.fs-xs {
  font-size: 12px !important;
}

.fs-sm {
  font-size: 14px !important;
}

.fs-md {
  font-size: 16px !important;
}

.fs-lg {
  font-size: 24px !important;
}

.fs-xl {
  font-size: 32px !important;
}

.fs-xxl {
  font-size: 64px !important;
}

.fs-xxxl {
  font-size: 128px !important;
}

.fs-normal {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1em;
}

.bold {
  font-weight: bold;
}

[depth="1"] {
  margin-left: 0;
}

[depth="2"] {
  margin-left: 1em;
}

[depth="3"] {
  margin-left: 2em;
}

[depth="4"] {
  margin-left: 3em;
}

[depth="5"] {
  margin-left: 3.5em;
}

[depth="6"] {
  margin-left: 4em;
}

[depth="7"] {
  margin-left: 4.5em;
}

[depth="8"] {
  margin-left: 5em;
}

[depth="9"] {
  margin-left: 5.25em;
}

[depth="10"] {
  margin-left: 5.5em;
}

[depth="11"] {
  margin-left: 5.75em;
}

[depth="12"] {
  margin-left: 6em;
}

.text-button {
  background-color: white;
  border: 0;
}

.d-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.size-16 {
  width: 16px;
  height: 16px;
}

.size-40 {
  width: 40px;
  height: 40px;
}

.size-64 {
  width: 64px;
  height: 64px;
  min-width: 64px;
  max-width: 64px;
  min-height: 64px;
  max-height: 64px;
}

.size-100 {
  width: 100px;
  height: 100px;
}

.size-128 {
  width: 128px;
  height: 128px;
}

.s-49 {
  width: 49%;
  height: 49%;
  min-width: 49%;
  max-width: 49%;
  min-height: 49%;
  max-height: 49%;
}

.s-50 {
  width: 50%;
  height: 50%;
  min-width: 50%;
  max-width: 50%;
  min-height: 50%;
  max-height: 50%;
}

/**
 * Widths and Heights
 */
.w-64px {
  width: 64px;
  min-width: 64px;
  max-width: 64px;
}

.w-100px {
  width: 100px;
}

.w-200px {
  width: 200px;
}

.w-300px {
  width: 300px;
}

.w-400px {
  width: 400px;
}

.h-100px {
  height: 100px;
}

.h-48px {
  height: 48px;
}

.h-64px {
  height: 64px;
}

.w-xxxl {
  width: 128px;
}

.h-xxxl {
  height: 128px;
}

.h-1em {
  height: 1.5em;
  overflow: hidden;
}

.h-2em {
  height: 3em;
  overflow: hidden;
}

.photo-background {
  background-color: #e8e8e8;
}

.circle {
  border-radius: 50%;
}

.top {
  top: 0;
}

.right {
  right: 0;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.grey {
  color: grey;
}

.greys {
  color: grey;
}
.greys * {
  color: #626262 !important;
}

.red {
  color: red;
}

.green {
  color: green;
}

.pointer {
  cursor: pointer;
}

/** Cursor on file upload button */
input[type=file]::-webkit-file-upload-button {
  /* chromes and blink button */
  cursor: pointer;
}

.of-hidden {
  overflow: hidden;
}

.opacity-0 {
  opacity: 0;
}

.cover {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.border-radius {
  border-radius: 3px;
}

.border-25 {
  border-radius: 25px;
}

/**
 * Colors
 */
.white {
  color: white;
}

.grey {
  color: grey;
}

.light {
  color: #bcbcbc;
}

.black {
  color: black;
}

.blue {
  color: blue;
}

.bg-lighter {
  background-color: #fafafa;
}

.bg-blue {
  background-color: blue;
}

.bg-green {
  background-color: green;
}

.bg-red {
  background-color: red;
}

.bg-kakao-yellow {
  background-color: #FEE500;
}

.border-kakao-yellow {
  border: 1px solid #F6DD00;
}

.bg-naver-green {
  background-color: #19ce60;
}

.border-naver-green {
  border: 1px solid #15c654;
}

/**
 * Components
 */
.list-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.list-menu li a {
  display: block;
  padding: 0.25em 0.5em;
}

.list-style-none {
  list-style: none;
  margin: 0;
  padding: 0;
}

.box {
  padding: 1em;
  box-sizing: border-box;
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
}

.avatar {
  border-radius: 50%;
}

.hint {
  display: inline-block;
  font-size: 12px;
  color: grey;
  font-style: italic;
}

/*# sourceMappingURL=index.css.map */
