/**
 * Base
 */
body {
  font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
}
a {
  color: black;
  text-decoration: none;
}


/**
 * Layout
 *
 * 모든 테마의 Layout 을 이것으로 통일한다.
 * 필요한 곳에 그냥 `.l-center` 를 사용하면 된다.
 * 특히, header, footer 에 사용하면 되고, 본문에도 이것을 사용한다.
 * 본문에 .l-center 를 하고, 본문에 들어가는 left, right 사이드 바는 .l-sidebar 로 한다.
 */
.l-center {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1100px; // 이 너비는 적절하게 수정 가능.
}
.l-content {
  display: flex;
  .l-sidebar {
    width: 260px; // 최대 너비를 260px 로 한다.
    &:after { // flex-basis: 만으로 sidebar 의 너비가 고정되지 않는다. 그래서 :after { width: } 와 함께 고정한다.
      content: '';
      display: block;
      width: 260px; // sidebar 너비를 무조건 260px 으로 고정.
    }
  }
  .l-body {
    margin-left: 16px; // 본문에서 왼쪽에 16px 여백을 둠
    flex-grow: 1; // flexbox 에서 남은 여백 차지하기
    overflow: hidden;
  }
  .l-body-middle {
    padding-left: 16px; // 본문에서 왼쪽에 16px 여백을 둠
    padding-right: 16px; // 본문에서 왼쪽에 16px 여백을 둠
    flex-grow: 1; // flexbox 에서 남은 여백 차지하기
    overflow: hidden;
  }
}

/**
 * 페이지 구성요소.
 * 검색에 사용되는 입력 창은 포커스 라인을 보이지 않는다.
 */
.search {
  input:focus {
    outline: none !important;
  }
}


/**
 * Paddings
 */
// padding of child a tags.
.p-a-xs {
  a {
    padding: .5em !important;
  }
}

// px-2 와 px-3 의 중간 사이즈이다.
.px-25 {
  padding: .75em !important;
}

/**
 * Utilities
 */
.fs-xxs {
  font-size: 10px !important;
}
.fs-xs {
   font-size: 12px !important;
}
.fs-sm {
  font-size: 14px !important;
}
.fs-md {
  font-size: 16px !important;
}
.fs-lg {
  font-size: 24px !important;
}
.fs-xl {
  font-size: 32px !important;
}
.fs-xxl {
  font-size: 64px !important;
}
.fs-xxxl {
  font-size: 128px !important;
}

.fs-normal {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1em;
}

.bold {
  font-weight: bold;
}


[depth="1"] {
  margin-left: 0;
}
[depth="2"] {
  margin-left: 1em;
}
[depth="3"] {
  margin-left: 2em;
}
[depth="4"] {
  margin-left: 3em;
}
[depth="5"] {
  margin-left: 3.5em;
}
[depth="6"] {
  margin-left: 4em;
}
[depth="7"] {
  margin-left: 4.5em;
}
[depth="8"] {
  margin-left: 5em;
}
[depth="9"] {
  margin-left: 5.25em;
}
[depth="10"] {
  margin-left: 5.5em;
}
[depth="11"] {
  margin-left: 5.75em;
}
[depth="12"] {
  margin-left: 6em;
}


.text-button {
  background-color: white;
  border: 0;
}


.d-center {
  display: flex; justify-content: center; align-items: center;
}

/// size-xx 는 pixel 단위로, 너비, 높이를 지정한다.
.size-16 {
  width: 16px; height: 16px;
}
.size-32 {
   width: 32px; height: 32px;
}
.size-40 {
   width: 40px; height: 40px;
 }

.size-64 {
  width: 64px;
  height: 64px;
  min-width: 64px;
  max-width: 64px;
  min-height: 64px;
  max-height: 64px;
}
.size-100 {
  width: 100px; height: 100px;
}
.size-128 {
  width: 128px; height: 128px;
}
/// 퍼센티지 사이즈는 s-** 로 한다.
// .s-48, .s-49 는 부모를 'd-flex justify-content-between' 와 같이 하는 경우, 중간에 여백을 줄 수 있다.
.s-48 {
  width: 48%;
  height: 48%;
  min-width: 48%;
  max-width: 48%;
  min-height: 48%;
  max-height: 48%;
}
.s-49 {
   width: 49%;
   height: 49%;
   min-width: 49%;
   max-width: 49%;
   min-height: 49%;
   max-height: 49%;
}
.s-50 {
   width: 50%;
   height: 50%;
   min-width: 50%;
   max-width: 50%;
   min-height: 50%;
   max-height: 50%;
}
/**
 * Widths and Heights
 */
.w-64px {
  width: 64px;
  min-width: 64px;
  max-width: 64px;
}
.w-100px {
  width: 100px;
}
.w-200px {
  width: 200px;
}
.w-300px {
  width: 300px;
}
.w-400px {
  width: 400px;
}
.h-100px {
  height: 100px;
}
.h-48px {
  height: 48px;
}
.h-64px {
  height: 64px;
}
.w-xxxl {
  width: 128px;
}
.h-xxxl {
  height: 128px;
}


/// Lines and Heights
/// 글자 행의 높이는 글자 크기, 행 높이로 나누어진다.
/// 글자가 1em 인 경우, height: 1em 이면, 너무 딱 맞는 높이가 된다. 그래서 약간 여백을 주려면 height: 1.5em 정도로 한다.
/// .h-1em, .h-2em 이 꽤 유용하다.
.h-1em {
  height: 1.5em;
  overflow: hidden;
}
.h-2em {
  height: 3em;
  overflow: hidden;
}



.photo-background {
  background-color: #e8e8e8;
}

.circle {
  border-radius: 50%;
}


.top {
  top: 0;
}
.right {
  right: 0;
}

.bottom {
  bottom: 0;
}
.left {
  left: 0;
}

.grey {
  color: grey;
}
.greys {
  color: grey;
  * {
    color: #626262 !important;
  }
}
.red {
  color: red;
}
.green {
  color: green;
}
.pointer {
  cursor: pointer;
}
/** Cursor on file upload button */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
  cursor: pointer;
}

.of-hidden {
  overflow: hidden;
}
.opacity-0 {
  opacity: 0;
}

.cover {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.border-radius {
  border-radius: 3px !important;
}


.border-radius-xs {
  border-radius: 8px;
}
.border-radius-sm {
  border-radius: 12px;
}
.border-radius-md {
  border-radius: 16px;
}

/**
 * Colors
 */
.white {
  color: white !important;
}
.grey {
  color: grey;
}
.greys * {
  color: grey;
}
.light {
  color: #bcbcbc;
}

.black {
  color: black;
}
.blue {
  color: blue;
}
.bg-lighter {
  background-color: #f8f8f8;
}

.bg-grey {
  background-color: #efefef;
}
.bg-blue {
  background-color: blue;
}
.bg-green {
  background-color: green;
}
.bg-red {
  background-color: red;
}
.bg-kakao-yellow {
  background-color: #FEE500;
}
.border-kakao-yellow {
  border: 1px solid #F6DD00;
}
.bg-naver-green {
  background-color: #19ce60;
}
.border-naver-green {
  border: 1px solid #15c654;
}


/**
 * Components
 */
.list-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    a {
      display: block;
      padding: .25em .5em;
    }
  }
}

.list-style-none {
  list-style: none;
  margin: 0;
  padding: 0;
}


.box {
  padding: 1em;
  box-sizing: border-box;
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
}


.avatar {
  border-radius: 50%;
}

.hint {
  display: inline-block;
  font-size: 12px;
  color: grey;
  font-style: italic;
}

/**
 * etc/markdwon/display-markdown.php 에 사용되는 MARKDOWN 용 style
 */

ul.table-of-contents {
  li {
    padding: 0 !important;
    p {
      margin: 0 !important;
      padding: 0 !important;
    }
  }
}


.markdown {
  li {
    padding: .5em 0;
  }
}


.heading-permalink {
  display: inline-block;
  padding: .1em .25em 0 0;
  color: #999999;
  font-size: .8em;
  vertical-align: top;
}