/**
 * Base
 */
body {
  font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
}
a {
  color: black;
  text-decoration: none;
}


/**
 * Layout
 *
 * 모든 테마의 Layout 을 이것으로 통일한다.
 * 필요한 곳에 그냥 `.l-center` 를 사용하면 된다.
 * 특히, header, footer 에 사용하면 되고, 본문에도 이것을 사용한다.
 * 본문에 .l-center 를 하고, 본문에 들어가는 left, right 사이드 바는 .l-sidebar 로 한다.
 */
.l-center {
  margin-left: auto !important;
  margin-right: auto !important;
  max-width: 1100px; // 이 너비는 적절하게 수정 가능.
}
.l-content {
  display: flex;
  .l-sidebar {
    width: 300px; // 최대 너비를 300px 로 한다.
    &:after { // flex-basis: 만으로 sidebar 의 너비가 고정되지 않는다. 그래서 :after { width: } 와 함께 고정한다.
      content: '';
      display: block;
      width: 300px; // sidebar 너비를 무조건 300px 으로 고정.
    }
  }
  .l-body {
    margin-left: 16px; // 본문에서 왼쪽에 16px 여백을 둠
    flex-grow: 1; // flexbox 에서 남은 여백 차지하기
    overflow: hidden;
  }
}

/**
 * Utilities
 */
.fs-xxs {
  font-size: 10px !important;
}
.fs-xs {
   font-size: 12px !important;
}
.fs-sm {
  font-size: 14px !important;
}
.fs-md {
  font-size: 16px !important;
}
.fs-lg {
  font-size: 24px !important;
}
.fs-xl {
  font-size: 32px !important;
}
.fs-xxl {
  font-size: 64px !important;
}
.fs-xxxl {
  font-size: 128px !important;
}

.fs-normal {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 1em;
}

.bold {
  font-weight: bold;
}


[depth="1"] {
  margin-left: 0;
}
[depth="2"] {
  margin-left: 1em;
}
[depth="3"] {
  margin-left: 2em;
}
[depth="4"] {
  margin-left: 3em;
}
[depth="5"] {
  margin-left: 3.5em;
}
[depth="6"] {
  margin-left: 4em;
}
[depth="7"] {
  margin-left: 4.5em;
}
[depth="8"] {
  margin-left: 5em;
}
[depth="9"] {
  margin-left: 5.25em;
}
[depth="10"] {
  margin-left: 5.5em;
}
[depth="11"] {
  margin-left: 5.75em;
}
[depth="12"] {
  margin-left: 6em;
}


.text-button {
  background-color: white;
  border: 0;
}


.d-center {
  display: flex; justify-content: center; align-items: center;
}
.size-100 {
  width: 100px; height: 100px;
}
.w-100px {
  width: 100px;
}
.h-100px {
  height: 100px;
}
.w-xxxl {
  width: 128px;
}
.h-xxxl {
  height: 128px;
}

.size-40 {
  width: 40px; height: 40px;
}

.photo-background {
  background-color: #e8e8e8;
}

.circle {
  border-radius: 50%;
}


.top {
  top: 0;
}
.right {
  right: 0;
}

.bottom {
  bottom: 0;
}
.left {
  left: 0;
}

.grey {
  color: grey;
}
.red {
  color: red;
}
.green {
  color: green;
}
.pointer {
  cursor: pointer;
}
/** Cursor on file upload button */
input[type=file]::-webkit-file-upload-button { /* chromes and blink button */
  cursor: pointer;
}

.of-hidden {
  overflow: hidden;
}
.opacity-0 {
  opacity: 0;
}

.cover {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.border-radius {
  border-radius: 3px;
}

/**
 * Colors
 */
.white {
  color: white;
}
.black {
  color: black;
}
.bg-lighter {
  background-color: #fafafa;
}
.bg-blue {
  background-color: blue;
}
.bg-green {
  background-color: green;
}
.bg-red {
  background-color: red;
}
.bg-kakao-yellow {
  background-color: #FEE500;
}
.border-kakao-yellow {
  border: 1px solid #F6DD00;
}
.bg-naver-green {
  background-color: #19ce60;
}
.border-naver-green {
  border: 1px solid #15c654;
}


/**
 * Components
 */

.list-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    a {
      display: block;
      padding: .5em 1em;
    }
  }
}


.box {
  padding: 1em;
  background-color: #f7f9fa;
  border: 1px solid #dae1e6;
}
